:root {
    --preto: rgb(31, 76, 97);
    --verde: rgb(33, 109, 100);
    --azul: rgb(24, 31, 88);
    --cinza: rgb(224, 224, 224);
}

body{
    background-image: linear-gradient(var(--preto), rgb(24, 24, 24));
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    border: 0px;
    margin: 0px;
    color:rgb(224, 224, 224);
}

main {
    padding-left: 10px;
}

a {
    background-color: var(--cinza);
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
}




